/* General setup */
@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url(./fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Merriweather", sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    word-spacing: 0.7rem;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1, h2 {
    font-family: "Roboto", serif;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
}

section h2 {
    margin-bottom: 20px;
}

a {
    color: #a66;
}

a:visited {
    color: black;
}

a:hover, a:focus {
    text-decoration: none;
    color: red;
    outline-offset: 4px;
    outline-color: red;
}

a:active {
    font-weight: bold;
}

.external-link::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('./external-link.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(241, 160, 160);
    border-radius: 20px;
}